body {
    margin: 0;
    width: 100%;
}

.container {
 display: flex;
 flex-direction: column;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    font-size: 18px;
    padding: 40px;
}
.header img {
    width: 60px;
    height: auto;
}
.links {
    display: flex;
    gap: 50px;
    font-size: 18px;
}
.links a {
    color: #E5E7EB;
    text-decoration: none;
}
.hero {
    display: flex;
    background-color: #1F2937;
    flex: 1;
    padding: 40px;
}
.left-side {
    display: flex;
    flex-direction: column;
    padding: 40px;
    flex-wrap: wrap;
    margin-left: 10%;
}
.right-side {
    height: 40vh;
    flex-grow: 1;
    margin-right: 10%;
}
.right-side img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    border-radius: 16px;
}
button {
    background-color: #3882F6;
    border: solid white 2px;
  color: white; 
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border-radius: 12px;
  height: 30px;
  width: 100px; 
}
.left-side h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: -12px;
}
.left-side p {
    font-size: 18px;
    color: #E5E7EB;
}
.cards {
    display: flex;
    justify-content: center;
    padding: 40px;
    margin: 60px;
}
.card {
    width: 150px;
    height: 140px;
    border: 2px solid rgb(41, 126, 160);
    border-radius: 6px;
}

.card img {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.info-cards {
    display: flex;
    gap: 16px;
}
figcaption {
    text-align: center;
}
.h1-info{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
}
.big {
    display: flex;
    flex-direction: column;
    padding: 70px;
    max-width: 100ch;
    margin: auto;

}
.big .quo {
    font-size: 36px;
    font-weight: lighter;
    font-style:italic ;
    color: #1F2937;
}
#fig {
    align-self: flex-end;
    font-weight: bolder;
    font-size: 26px;
}
.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-block: 75px;
}
.action {
    display: flex;
    background-color: #3882F6;
    padding: 50px 75px;
    align-items: center;
    gap: 34px;
    color: white;
    border-radius: 8px;
    font-size: 14px;
}

footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
}
